body
{
    background: url(../laptop/ozi.jpg.jpg) no-repeat fixed;
    background-size: cover;
    color: black;
    font-family: 'Century Gothic';
}

#bloc_page
{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
    background-color: rgba(225,225,225,0.8);
}
 
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Century Gothic";

}

#titre_principal
{
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic";

}

header h1
{
font-family: "Century Gothic";;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

#menu{
padding:0;
margin:0;
list-style:none;
}
#menu li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
    margin:0.8px;
}

#menu li{
background-color: lightgray;
background-image: -webkit-linear-gradient(top,  lightgray 0%, #333A40 100%);
background-image:linear-gradient(to bottom, lightgray 0%, #333A40 100%);
}

#menu li:hover{
background-color: darkgrey;
}
#menu a{
text-decoration:none;
display:block;
padding:12px 39px;
color:#fff;
font-family:"century gothic";
}

#menu li:hover a{
    background-color: darkgrey;
}
a{
    color: crimson
}
#banniere_image
{
    margin-top: 15px;
    height: 350px;
    border-radius: 2px;
    background: url(../laptop/od.jpg.jpg) 10%;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    opacity: 0.9;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.8%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.9);
    color: white;
    text-align: center;
    font-size: 0.9em;
    
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

footer, footer p,h1
{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration-color: black;
    font-family: "century gothic";
     background-color: rgba(225,225,225,0.7);
   	border-radius: 15px 50px ;

}


#m {
		margin-left: 140px;
	}



#page {
	position: static;
	margin-top: 50px;
	margin-left: 120px;
	margin-right: 500px;
	background-color: rgba(225,225,225,0.7);
	padding: 20px 20px 20px 0px ;
	border-radius: 15px 50px;
} 
#titr
{
	background-color: rgba(225,225,225,0.7); 
	position: absolute;
	top: 980px;
left: 955px;
height: 310px;
color: black;
width: 340px;

	border-radius: 15px 50px;

}
#titr h2  {
	color: #27275C;
	padding-left: 40px;
    
}

h2{
  	background-color: rgba(225,225,225,0.7); 
       	border-radius: 15px 50px ;

}
#titr ul li a {
 padding-left: 0px;
color: black;
font-weight: bold;
}
#titr ul li a:hover{
	color: #27275C ;}

#page ol  {
	padding-left: 20px;

}
#page ol h2 {
	padding-left: 30px;
}

hr {
	margin-top: 100px;
}
h1{
    
    	background-color: rgba(225,225,225,0.7);
}